@import "~reset-css/sass/reset";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  figure {
    display: none;
  }
  aside {
    width: 100vw;
    height: 100vh;
    background-color: #FCFCFC;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-out;
    button {
      background: none;
      border: none;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }
    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}
